{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Fraud Detection System (FDS){% else %}Welcome to Fraud Detection System (FDS){% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">FDS</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script>
        function search_log(page = '') {
            $.post('/search/logs', {
                page: page,
                amount: $('#amount').val(),
                date: $('#date').val(),
                time: $('#time').val(),
                source: $('#source').val(),
                destination: $('#destination').val(),
                is_fraud: $('#is_fraud').val(),
                fraud_type: $('#fraud_type').val(),
                ip_address: $('#ip_address').val(),
                transaction_type: $('#transaction_type').val()
            }).done(function(response) {
                console.log(response['tr_log']);
                $("#table_log > tbody").empty();
                $('#next').html(response['str_next_url']);
                $('#previous').html(response['str_prev_url']);
                $('#tr_log').html(response['tr_log']);

                var elnext = document.getElementById("next");
                var elprev = document.getElementById("previous");
                if(response['next_page']!='#'){
                    elnext.classList.remove("disabled");
                } else {
                    elnext.classList.add("disabled");
                }
                if(response['prev_page']!='#'){
                    elprev.classList.remove("disabled");
                } else {
                    elprev.classList.add("disabled");
                }
            }).fail(function() {
                $('#err_alert').text("Error: Could not contact server.");
            });
        }
    </script>
{% endblock %}