{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Fraud Detection System (FDS){% else %}Welcome to Fraud Detection System (FDS){% endif %}
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ url_for('index') }}">FDS</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}

        {# application content needs to be provided in the app_content block #}
        {% block app_content %}{% endblock %}
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    {{ moment.include_moment() }}
    <script>
        function search_log(page = '') {
            $.post('/search/logs', {
                page: page,
                id_trans: $('#id_trans').val(),
                date_time: $('#date-time').val(),
                company_id: $('#company_id').val(),
                source: $('#source').val(),
                destination: $('#destination').val(),
                amount: $('#amount').val(),
                trans_type: $('#trans_type').val(),
                product_id: $('#product_id').val(),
                ip_address: $('#ip_address').val(),
                ip_location: $('#ip_location').val(),
                longlat: $('#longlat').val(),
                geo_location: $('#geo_location').val(),
                fraud_type: $('#fraud_type').val(),
                fraud_point: $('#fraud_point').val()
            }).done(function(response) {
                $("#table_log > tbody").empty();
                $('#next').html(response['str_next_url']);
                $('#previous').html(response['str_prev_url']);
                $('#tr_log').html(response['tr_log']);

                var elnext = document.getElementById("next");
                var elprev = document.getElementById("previous");
                if(response['next_page']!='#'){
                    elnext.classList.remove("disabled");
                } else {
                    elnext.classList.add("disabled");
                }
                if(response['prev_page']!='#'){
                    elprev.classList.remove("disabled");
                } else {
                    elprev.classList.add("disabled");
                }
            }).fail(function() {
                $('#err_alert').text("Error: Could not contact server.");
            });
        }
        $( document ).ready(function () {
            var timer = null;
            var xhr = null;
            $("#tr_log").on('mouseenter', '.log_popup', function( event ) {
                // mouse in event handler
                var elem = $(event.currentTarget);
                timer = setTimeout(function() {
                    timer = null;
                    xhr = $.ajax(
                        '/log/' + elem.children().eq(1).text().trim() + '/popup').done(
                            function(data) {
                                xhr = null;
                                elem.popover({
                                    trigger: 'manual',
                                    html: true,
                                    animation: false,
                                    container: 'body',
                                    content: data,
                                    template: '<div class="popover popover-medium"><div class="arrow"></div><div class="popover-inner"><h3 class="popover-title"></h3><div class="popover-content"><p></p></div></div></div>'
                                }).popover('show');
                                flask_moment_render_all();
                            }
                        );
                }, 1000);
            }).on('mouseleave', '.log_popup', function( event ) {
                // mouse out event handler
                var elem = $(event.currentTarget);
                if (timer) {
                    clearTimeout(timer);
                    timer = null;
                }
                else if (xhr) {
                    xhr.abort();
                    xhr = null;
                }
                else {
                    elem.popover('destroy');
                }
            });
        });
    </script>
{% endblock %}