{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron p-3">
                <div class="well text-center">
                    <h3>Log of Data Transaction</h3>
                </div>
                <span id="err_alert"></span>
                <table id="table_log" class="table table-hover table-striped">
                    <thead>
                        <tr>
                            <th>ID Trans</th>
                            <th>Amount</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Source</th>
                            <th>Destination</th>
                            <th>Fraud</th>
                            <th>Fraud Type</th>
                            <th>IP Address</th>
                            <th>Transaction Type</th>
                        </tr>
                        <tr>
                            <th></th>
                            <th><input class="form-control" id="amount" name="amount" type="text" onkeyup="search_log()"></th>
                            <th><input class="form-control" id="date" name="date" type="text" onkeyup="search_log()"></th>
                            <th><input class="form-control" id="time" name="time" type="text" onkeyup="search_log()"></th>
                            <th><input class="form-control" id="source" name="source" type="text" onkeyup="search_log()"></th>
                            <th><input class="form-control" id="destination" name="destination" type="text" onkeyup="search_log()"></th>
                            <th><input class="form-control" id="is_fraud" name="is_fraud" type="text" onkeyup="search_log()"></th>
                            <th><input class="form-control" id="fraud_type" name="fraud_type" type="text" onkeyup="search_log()"></th>
                            <th><input class="form-control" id="ip_address" name="ip_address" type="text" onkeyup="search_log()"></th>
                            <th><input class="form-control" id="transaction_type" name="transaction_type" type="text" onkeyup="search_log()"></th>
                        </tr>
                    </thead>
                    <tbody id="tr_log">
                        {% for row in logs %}
                        <tr>
                            <td>{{row.id_trans}}</td>
                            <td>{{row.amount}}</td>
                            <td>{{row.date}}</td>
                            <td>{{row.time}}</td>
                            <td>{{row.source}}</td>
                            <td>{{row.destination}}</td>
                            <td>{% if row.is_fraud == 1 %}Fraud{% else %}Not Fraud{% endif %}</td>
                            <td>{{row.fraud_type}}</td>
                            <td>{{row.ip_address}}</td>
                            <td>{{row.transaction_type}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <nav aria-label="...">
                    <ul class="pager">
                        <li id="previous" class="previous disabled">
                            <a>
                                <span aria-hidden="true">&larr;</span> Newer
                            </a>
                        </li>
                        <li id="next" class="next">
                            <a onclick="search_log('2')">
                                Older <span aria-hidden="true">&rarr;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
{% endblock %}
